.moveable-line {
    background: #3b82f6!important;
}
.moveable-control {
    position: absolute;
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    border: 2px solid #fff!important;
    box-sizing: border-box;
    background: #3b82f6!important;
    margin-top: -5px!important;
    margin-left: -5px!important;
    z-index: 10;
}

.moveable-control.moveable-origin {
    border-color: #f59e0b!important;
    background-color: #f59e0b!important;
    width: 6px!important;
    height: 6px!important;
    margin-top: -2px!important;
    margin-left: -2px!important;
}

.moveable-rotation {
    background: #10b981!important;
    border: 2px solid #fff!important;
}
