@import "tailwindcss";

:root {
  --background: #1A252F;
  --foreground: #fff;
  --accent: #00FFFF;
  --accent-red: #FF4500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-red: var(--accent-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A252F;
    --foreground: #fff;
    --accent: #00FFFF;
    --accent-red: #FF4500;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

select {
  background-color: var(--background);
  color: var(--foreground);
}